<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FORM PENDAFTARAN MAHASISWA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
     <ion-input label="Nama" labelPlacement="floating" fill="outline"></ion-input>
     <ion-input label="Prodi" labelPlacement="floating" fill="outline"></ion-input>
     <ion-input label="Tempat Lahir" labelPlacement="floating" fill="outline"></ion-input>
     <ion-input label="Tahun Lahir" labelPlacement="floating" fill="outline"></ion-input>
     <ion-input label="Jenis Kelamin" labelPlacement="floating" fill="outline"></ion-input>
     <ion-input label="Asal Sekolah" labelPlacement="floating" fill="outline"></ion-input>
     <ion-input label="Nilai Raport" labelPlacement="floating" fill="outline"></ion-input>
     <ion-input label="No. Telp/Whatsapp" labelPlacement="floating" fill="outline"></ion-input>
     <ion-input label="Alamat Email" labelPlacement="floating" fill="outline"></ion-input>
    
  </div>
</ion-content>
